header{
	padding-top:24px;
	padding-bottom: 24px; 
}

.ed-menu a:hover{
	background: #cd7401;
	color: #fff;
	transition: all 0.5s ease;
}

.contacto{
	width: 80%;
	margin 2em auto;
}

.contacto .ed-item{
	margin-bottom: 1em;
}

.contacto input,
.contacto textarea{
	width: 100%;
}

.enviar{
	background: steelblue;
	color: #fff;
	text-transform: uppercase;
	line-height: 2.5;
	padding: 0 1 em;
	border: none;
	border-radius: 20px;

}

footer{
	background: #222;
	text-align: center;
	font-size: .9em;
	color: #eee;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 4em;
}

.web-vertical{
	float: left;
	text-align:center;
	background: #fafafa;
}

#banner img {
    margin-top: 20px; 
  }

.texto-introduccion{
	font-size: 20px;
}

main{
background-color: #f2f2f2;
}

aside{
background-color: rgb(215, 237, 47);
}

header{
background-color: #f58b00;
}